## Pandas

In [7]:
import pandas as pd
import numpy as np
fruits  = ['蘋果','橘子','梨子','櫻桃']
quantities = [15,33,45,55]
n1 = np.array(quantities)
s1 = pd.Series(quantities)
s2 = pd.Series(quantities,index = fruits)
print(n1)
print("="*70)
print(s1)
print("="*70)
print(s2)
print("="*70)
print(s2["橘子"])
print("="*70)
print(s2[2])

[15 33 45 55]
======================================================================
0    15
1    33
2    45
3    55
dtype: int64
======================================================================
蘋果    15
橘子    33
梨子    45
櫻桃    55
dtype: int64
======================================================================
33
======================================================================
45

C:\Users\xvpow\AppData\Local\Temp\ipykernel_10356\68864524.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s2[2])

In [11]:
import pandas as pd
import numpy as np
fruits  = ['蘋果','橘子','梨子','櫻桃']
quantities = [15,33,45,55]
s2 = pd.Series(quantities,index = fruits)
print(s2.median())
print(s2.mean())
print(s2.min())
print(s2.max())
print(s2.describe())

39.0
37.0
15
55
count     4.000000
mean     37.000000
std      17.204651
min      15.000000
25%      28.500000
50%      39.000000
75%      47.500000
max      55.000000
dtype: float64

In [22]:
import pandas as pd
data = {"Name":['Tom','Jack','Steve',"Ricky"],
       "Age":[28,34,29,42]}
print(type(data))
print(data)
df = pd.DataFrame(data)
print(df)
print("="*20)
print(df["Name"])
df2 = pd.DataFrame(data,index=["man1","man2","man3","man4"])
print(df2)
#print(df2["man2"]["Name"])

<class 'dict'>
{'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
====================
0      Tom
1     Jack
2    Steve
3    Ricky
Name: Name, dtype: object
       Name  Age
man1    Tom   28
man2   Jack   34
man3  Steve   29
man4  Ricky   42

In [24]:
import  pandas as pd
import  numpy as np
array1=np.array([[10,30],[20,40]])

print(array1)
df=pd.DataFrame(array1)
print(df)
df.columns = ['col1','col2']
df.index = ["row1","row2"]
print(df)

[[10 30]
 [20 40]]
    0   1
0  10  30
1  20  40
      col1  col2
row1    10    30
row2    20    40

In [25]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}#index多一點
df1 = pd.DataFrame(d)
print(df1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## 合併

In [33]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}#index多一點
df1 = pd.DataFrame(d)
print(df1)
df1["three"] = [10,11,12,13]
print(df1)
df2 = pd.DataFrame([[20, 21, 22],
                    [23, 24, 25],
                    [26,27, 28]], columns=['one', 'two', 'three'],index=['a','b','c'])
print(df2)
#預設軸0合併
df3 = pd.concat([df1,df2],ignore_index=True)
df3.index = ["a","b","c","d","e","f","g"]
print(df3)
df3 = pd.concat([df1,df2],axis=1,ignore_index=True)
print(df3)
df3.columns  = ["a","b","c","d","e","f"] 
print(df3)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
   one  two  three
a   20   21     22
b   23   24     25
c   26   27     28
    one  two  three
a   1.0    1     10
b   2.0    2     11
c   3.0    3     12
d   NaN    4     13
e  20.0   21     22
f  23.0   24     25
g  26.0   27     28
     0  1   2     3     4     5
a  1.0  1  10  20.0  21.0  22.0
b  2.0  2  11  23.0  24.0  25.0
c  3.0  3  12  26.0  27.0  28.0
d  NaN  4  13   NaN   NaN   NaN
     a  b   c     d     e     f
a  1.0  1  10  20.0  21.0  22.0
b  2.0  2  11  23.0  24.0  25.0
c  3.0  3  12  26.0  27.0  28.0
d  NaN  4  13   NaN   NaN   NaN

## 刪除

In [41]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df1 = pd.DataFrame(d)
df1["three"] = [10,11,12,13]
print(df1)
df1.drop("one",axis=1,inplace=True)
print(df1)
df1.drop("d",axis=0,inplace=True)
print(df1)

   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
   two  three
a    1     10
b    2     11
c    3     12
d    4     13
   two  three
a    1     10
b    2     11
c    3     12

## Pandas 讀取CSV

In [44]:
import pandas as pd
df1 = pd.read_csv("./ex1.csv")
print(df1)
print("=====================")
df1 = pd.read_csv("./ex1.csv",header=None)
print(df1)
print("=====================")
df1 = pd.read_csv("./ex1.csv",names=["A","B","C","D","E"])
print(df1)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12    good
=====================
   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12     good
=====================
   A   B   C   D        E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12     good

In [45]:
import pandas as pd
df3a = pd.read_csv('df3a.csv')
print('輸出df3a.csv完整資訊')
print(df3a)

輸出df3a.csv完整資訊
   name  population
0   中正區      159598
1   板橋區      551452
2   桃園區      441287
3   北屯區      275207
4   安南區      192327
5   三民區      343203
6   大安區      309835
7   永和區      222531
8   八德區      198473
9   前鎮區      189623
10  鳳山區      359125
11  信義區      225561
12  新店區      302070

In [46]:
import  pandas as pd
#龘 (音踏)
#犇(音奔)
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
print(data)
df=pd.DataFrame(data)
print(df)
df.to_html('df1.html',encoding="utf-8")
df.to_csv('df1a.csv')
df.to_csv('df1b.csv',index=False)

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}
    Name  Age
0      犇   28
1     中文   34
2      龘   29
3  Ricky   42

## 讀寫Excel 需安裝套件
pip install xlrd

In [1]:
import  pandas as pd
import  numpy as np
#龘 (音踏)  犇(音奔)
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
print(data)
df=pd.DataFrame(data)
df1=pd.DataFrame(np.arange(9).reshape(3,3),
                 index=['a','c','d'],
                 columns=['One','Two','Three'])

writer =  pd.ExcelWriter("df.xlsx")
df.to_excel(writer,sheet_name="Sheet1")
df1.to_excel(writer,sheet_name="Sheetx2")
writer.close()

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}

In [3]:
import  pandas as pd
import  numpy as np
df = pd.read_excel("df.xlsx")
print(df)
print("==================")
df = pd.read_excel("df.xlsx",1)
print(df)

   Unnamed: 0   Name  Age
0           0      犇   28
1           1     中文   34
2           2      龘   29
3           3  Ricky   42
==================
  Unnamed: 0  One  Two  Three
0          a    0    1      2
1          c    3    4      5
2          d    6    7      8

### 使用 loc(文字 m:n 會包含到n)
+ "location" 的縮寫
+ .loc[ ], 中括弧裡面是先 row 後 column，以逗號分開。
+ row 與 column 要放入的是 row 標籤與 column 標籤。
+ 可於 row 或 column 加入「：」 ，代表指定起訖範圍。

In [12]:
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z'])
print(df)
print()
print(df.loc['b',:])
print()
print(df.loc['b','t'])
print()
print(df.loc[['c','e'],['w','y']])
print()
print(df.loc['c':'e','w':'y'])
print()
print(df.loc[:,"x"])

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

s     8
t     9
u    10
v    11
w    12
x    13
y    14
z    15
Name: b, dtype: int32

9

    w   y
c  20  22
e  36  38

    w   x   y
c  20  21  22
d  28  29  30
e  36  37  38

a     5
b    13
c    21
d    29
e    37
f    45
Name: x, dtype: int32

### 使用 iloc
+ iloc[ ] 與 loc 一樣，中括弧裡面也是先 row 後 column，行列標籤用逗號分開。
+ 與 loc 不同的之處是，.iloc 是根據索引來進行選擇。

In [20]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z'])
print(df)
print()
print(df.iloc[1,:])
print()
print(df.iloc[2,4])
print()
print(df.iloc[[2,4],[4,6]])
print()
print(df.iloc[2:5,4:7])

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

s     8
t     9
u    10
v    11
w    12
x    13
y    14
z    15
Name: b, dtype: int32

20

    w   y
c  20  22
e  36  38

    w   x   y
c  20  21  22
d  28  29  30
e  36  37  38

### 查詢

In [25]:
import  pandas as pd
data_url='http://bit.ly/2cLzoxH'
gap1=pd.read_csv(data_url)
print(gap1)
print(gap1.count())
is2002 = gap1['year'] == 2002
#print(is2002)
print(gap1[is2002])
gap2 = gap1.query("year == 2002")
print(gap2)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]
country      1704
year         1704
pop          1704
continent    1704
lifeExp      1704
gdpPercap    1704
dtype: int64
                 country  year         pop continent  lifeExp    gdpPercap
10           Afghanistan  2002  25268405.0      Asia   42.129   726.734055
22               Albania  2002   3508512.0    Europe   75.651  4604.211737
34               Algeria  2002  31287142.0    Africa   70.994  5288.040382
46                Angola  2002  10866106.0    Africa   41.003  2773.287312
58             Argentina  2002  38331121.0  Americas   74.340  8797.640716
...                  ...   ...         ...       ...      ...          ...
1654             Vietnam  2002  80908147.0      Asia   73.017  1764.456677
1666  West Bank and Gaza  2002   3389578.0      Asia   72.370  4515.487575
1678          Yemen Rep.  2002  18701257.0      Asia   60.308  2234.820827
1690              Zambia  2002  10595811.0    Africa   39.193  1071.613938
1702            Zimbabwe  2002  11926563.0    Africa   39.989   672.038623

[142 rows x 6 columns]
                 country  year         pop continent  lifeExp    gdpPercap
10           Afghanistan  2002  25268405.0      Asia   42.129   726.734055
22               Albania  2002   3508512.0    Europe   75.651  4604.211737
34               Algeria  2002  31287142.0    Africa   70.994  5288.040382
46                Angola  2002  10866106.0    Africa   41.003  2773.287312
58             Argentina  2002  38331121.0  Americas   74.340  8797.640716
...                  ...   ...         ...       ...      ...          ...
1654             Vietnam  2002  80908147.0      Asia   73.017  1764.456677
1666  West Bank and Gaza  2002   3389578.0      Asia   72.370  4515.487575
1678          Yemen Rep.  2002  18701257.0      Asia   60.308  2234.820827
1690              Zambia  2002  10595811.0    Africa   39.193  1071.613938
1702            Zimbabwe  2002  11926563.0    Africa   39.989   672.038623

[142 rows x 6 columns]

### in 與 not in

+ Pandas 有 isin 方法，代表如果資料存在於 isin 方法內的比對對象，那就傳回 True。
+ 如果比對對象是一個 dictionary：
  + 首先判斷對應的 index 是否存在。
  + 如果存在，接著判斷對應的位置是否存在。
  + 如果不存在，那麼全部為 False。
+ 如果是一個 DataFrame：
  + 首先就是 column 名稱要存在。
  + 原資料行列位置和對應的行列位置一一匹配，才返回 TRUE。
+ 若要設計一個 not in 的分析語法，請在函數方法前面加個 ~ 即可。

In [28]:
import  pandas as pd
data_url='http://bit.ly/2cLzoxH'
gap1=pd.read_csv(data_url)
print(gap1)
print('想要查詢1997與2007年資料')
is2020 = gap1['year'].isin([1997,2007])
print(gap1[is2020])
gap2 = gap1.query("year == 2007 or year == 1997")
print(gap2)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]
想要查詢1997與2007年資料
          country  year         pop continent  lifeExp    gdpPercap
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
33        Algeria  1997  29072015.0    Africa   69.152  4797.295051
...           ...   ...         ...       ...      ...          ...
1679   Yemen Rep.  2007  22211743.0      Asia   62.698  2280.769906
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[284 rows x 6 columns]
          country  year         pop continent  lifeExp    gdpPercap
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
33        Algeria  1997  29072015.0    Africa   69.152  4797.295051
...           ...   ...         ...       ...      ...          ...
1679   Yemen Rep.  2007  22211743.0      Asia   62.698  2280.769906
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[284 rows x 6 columns]

In [31]:
import  pandas as pd
data_url='http://bit.ly/2cLzoxH'
gap1=pd.read_csv(data_url)
print(gap1)
print('想要查詢1997到2007年資料')
is2020 = gap1["year"].between(1997,2007)
print(gap1[is2020])
gap2 = gap1.query("year.between(1997,2007)")
print(gap2)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]
想要查詢1997到2007年資料
          country  year         pop continent  lifeExp    gdpPercap
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
...           ...   ...         ...       ...      ...          ...
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[426 rows x 6 columns]
          country  year         pop continent  lifeExp    gdpPercap
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
...           ...   ...         ...       ...      ...          ...
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[426 rows x 6 columns]